body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling */
  height: 100%;
}

.split-screen {
  position: relative;
  width: 100%;
  height: 100%;
}

.left-half {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: blue;
}

.right-half {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: red;
}

#player {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #fffb8f; 
  border-radius: 50%; /* Makes it a circle */
  border-color: black;
  left: 20px;
  top: 20px;
  transform-origin: center; /* Ensure rotation is around the center */
  transition: transform 0.1s; /* Optional: Smooths out rotation changes */
}

#sword {
  position: absolute;
  width: 100px; /* Adjust as needed */
  right: -50px; /* Adjust for sword positioning */
  top: 50px; /* Adjust for sword positioning */
  transform-origin: center; /* Adjust if needed to get the desired rotation effect */
  transform: rotate(50deg); /* Rotates the image an additional 135 degrees to achieve a total of 180 degrees from the start */
  transition: transform 0.3s ease;
}

@keyframes swingSword {
  0% { transform: rotate(0deg) translate(-20px) rotate(0deg); }
  50% { transform: rotate(80deg) translate(-20px) rotate(-80deg); }
  100% { transform: rotate(180deg) translate(-20px) rotate(-180deg); }
}
